@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f2f2f2;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f2f2f2;
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  background-color: hsl(0 0% 0%/0.8);
}

.menu li > *:not(ul):not(.menu-title):not(details):active {
  background-color: transparent;
  color: white;
}
